#board {
  margin-top: 10px;
}

.box {
  border: 3px solid black;
  height: 150px;
  background-color: white;
}

.invisBox{
	text-align: center;
}

.x {
	/*background-image: url("http://i.imgur.com/wd9BDYQ.jpg");*/
	color: red;
	font-size: 700%;
	text-align: center;
	padding-top: 10px;
}

.o {
	/*background-image: url("http://i.imgur.com/lj6PQaz.jpg"); */
	color: blue;
	font-size: 700%;
	text-align: center;
	padding-top: 2px;
}